---
layout: post
slug: "photos"
title: "相册/视频"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="./index.html">相册</a>
	<a class="photos-btn active" href="./videos.html">视频</a>
</div>

<center><h1>给你看——Ailee</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height=498 width=510 src='http://player.youku.com/embed/XMzI5MTE3NzQ4OA==' frameborder=0 'allowfullscreen'></iframe>
</div>
</center>

<hr/>
<center><h1>可惜没如果——林俊杰</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height=498 width=510 src='http://player.youku.com/embed/XODUzMDIzMzI0' frameborder=0 'allowfullscreen'></iframe>
</div>
</center>

<hr/>
<center><h1>超级冠军——鹿晗</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height=498 width=510 src='http://player.youku.com/embed/XMzQ5MjQyMzgwNA==' frameborder=0 'allowfullscreen'></iframe>
</div>
</center>
